<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AireDellin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css"> <!-- Asegúrate de tener esta hoja de estilo -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
    <style>
        /* Estilos personalizados para las tarjetas */
        .card {
            height: 400px; /* Ajusta la altura según tus necesidades */
        }
        .card-img-top {
            height: 200px; /* Ajusta la altura de la imagen */
            object-fit: cover; /* Mantiene la proporción y recorta la imagen */
        }
        .card-body {
            padding: 15px; /* Aumenta el padding del cuerpo de la tarjeta para dar espacio */
        }
        .btn-verde-personalizado {
            background-color: #5d7457; /* Color verde personalizado */
            border-color: #5d7457; /* Color del borde del botón */
        }
        .btn-verde-personalizado:hover {
            background-color: #4a6c48; /* Color al pasar el cursor */
            border-color: #4a6c48; /* Color del borde al pasar el cursor */
        }
    </style>
</head>
<body>
    <div class="pos-f-t">
        <nav class="navbar" style="background-color: #5d7457;">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="#">AireDellin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-verde-militar p-4">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white menu-item" href="#">Map with sensors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white menu-item" href="#">Generate Route with less Pollution</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white menu-item" href="#">Predict Air Quality in the Globe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white menu-item" href="#">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <header class="hero-section d-flex align-items-center justify-content-center">
        <div class="container text-center">
            <h1 class="display-4">AireDellin</h1>
            <p class="lead">Bienvenidos al portal de calidad del aire en Medellín</p>
            <a href="#" class="btn btn-verde-personalizado btn-lg">Explorar más</a>
        </div>
    </header>

    <!-- Sección About -->
    <section class="about-section text-center my-5" style="background-color: #ffffff; padding: 50px 20px; border-radius: 8px;">
        <div class="container">
            <h2 class="display-5" style="color: #5d7457;">Acerca de AireDellin</h2>
            <p class="lead" style="color: #333;">
                Airedellín is a citizen science initiative aimed at addressing the growing issue of air quality in Medellín. We leverage modern technologies like machine learning, interactive maps, and sensor data to provide insights and predictions on PM2.5 levels.
            </p>
            <p class="lead" style="color: #333;">
                Our goal is to empower the community to take actionable steps toward improving public health.
            </p>
        </div>
    </section>

    <section class="container my-5">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div class="card text-center" style="background-color: #5d7457; color: #fff;">
                    <img src="../static/mapvisualization.png" class="card-img-top" alt="Map Visualization">
                    <div class="card-body">
                        <h5 class="card-title">Map Visualization</h5>
                        <p class="card-text">Real-time, interactive maps displaying air quality data from various sensors across the city, color-coded to show PM2.5 levels.</p>
                        <a href="#" class="btn btn-light">Data chart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div class="card text-center" style="background-color: #5d7457; color: #fff;">
                    <img src="../static/predictions.png" class="card-img-top" alt="Predictions">
                    <div class="card-body">
                        <h5 class="card-title">Predictions</h5>
                        <p class="card-text">Use machine learning models like Linear Regression, LSTM, and XGBoost to predict air quality patterns based on historical data.</p>
                        <a href="#" class="btn btn-light">Run ML Prediction</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div class="card text-center" style="background-color: #5d7457; color: #fff;">
                    <img src="../static/heatmap.png" class="card-img-top" alt="Heatmap">
                    <div class="card-body">
                        <h5 class="card-title">Heatmap</h5>
                        <p class="card-text">Visualize the intensity of PM2.5 concentrations with a heatmap to understand the air quality variations in Medellín.</p>
                        <a href="#" class="btn btn-light">Run heatmap</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container my-5">
        <h2 class="text-center">¡Ayúdanos a Mejorar!</h2>
        <p class="text-center">Realiza una donación para apoyar nuestras iniciativas de monitoreo de la calidad del aire.</p>
        <div class="text-center">
            <img src="../static/qr.png" alt="Código QR para donaciones" class="img-fluid" style="max-width: 300px; margin-bottom: 20px;">
            <p class="lead">Escanea el código QR para donar.</p>
            <a href="#" class="btn btn-verde-personalizado btn-lg">Donar Ahora</a>
        </div>
    </section>

    <div class="donation-text">
        <p class="text-center">Empower Your Canairio Sensor: <a href="https://airedellin.jero98772.page/add_donation" target="_blank">Link it to a Bank or Crypto Wallet and Start Receiving Donations Today!</a></p>
    </div>

    <footer>
        <p class="text-center">&copy; 2024 Airedellín. All rights reserved. | GitHub Repository</p>
        <p class="text-center">Translations available in: Español | Deutsch | Русский</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
