{% extends "base.html" %}

{% block content %}


<header class="hero-section d-flex align-items-center justify-content-center">
    <div class="container text-center">
        <h1 class="display-4">AireDellin</h1>
        <p class="lead">Bienvenidos al portal de calidad del aire en Medellín</p>
        <a href="#" class="btn btn-verde-personalizado btn-lg">Explorar más</a>
    </div>
</header>

<!-- Sección About -->
<section class="about-section text-center my-5" style="background-color: #ffffff; padding: 50px 20px; border-radius: 8px;">
    <div class="container">
        <h2 class="display-5" style="color: #5d7457;">Acerca de AireDellin</h2>
        <p class="lead" style="color: #333;">
            Airedellín is a citizen science initiative aimed at addressing the growing issue of air quality in Medellín. We leverage modern technologies like machine learning, interactive maps, and sensor data to provide insights and predictions on PM2.5 levels.
        </p>
        <p class="lead" style="color: #333;">
            Our goal is to empower the community to take actionable steps toward improving public health.
        </p>
    </div>
</section>

<section class="container my-5">
    <div class="row">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div class="card text-center" style="background-color: #5d7457; color: #fff;">
                <img src="{{ url_for('static', path='img/mapvisualization.png') }}" class="card-img-top" alt="Map Visualization">
                <div class="card-body">
                    <h5 class="card-title">Map Visualization</h5>
                    <p class="card-text">Real-time, interactive maps displaying air quality data from various sensors across the city, color-coded to show PM2.5 levels.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div class="card text-center" style="background-color: #5d7457; color: #fff;">
                <img src="{{ url_for('static', path='img/predictions.png') }}" class="card-img-top" alt="Predictions">
                <div class="card-body">
                    <h5 class="card-title">Predictions</h5>
                    <p class="card-text">Use machine learning models like Linear Regression, LSTM, and XGBoost to predict air quality patterns based on historical data.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div class="card text-center" style="background-color: #5d7457; color: #fff;">
                <img src="{{ url_for('static', path='img/heatmap.png') }}" class="card-img-top" alt="Heatmap">
                <div class="card-body">
                    <h5 class="card-title">Heatmap</h5>
                    <p class="card-text">Visualize the intensity of PM2.5 concentrations with a heatmap to understand the air quality variations in Medellín.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container my-5">
    <h2 class="text-center">¡Ayúdanos a Mejorar!</h2>
    <p class="text-center">Realiza una donación para apoyar nuestras iniciativas de monitoreo de la calidad del aire.</p>
    <div class="text-center">
        <img src="{{ url_for('static', path='qr/qr.png') }}" alt="Código QR para donaciones" class="img-fluid" style="max-width: 300px; margin-bottom: 20px;">
        <p class="lead">Escanea el código QR para donar.</p>
        <a href="#" class="btn btn-verde-personalizado btn-lg">Donar Ahora</a>
    </div>
</section>

<div class="donation-text">
    <p class="text-center">Empower Your Canairio Sensor: <a href="https://airedellin.jero98772.page/add_donation" target="_blank">Link it to a Bank or Crypto Wallet and Start Receiving Donations Today!</a></p>
</div>

{% endblock %}
