{% extends "base.html" %}

{% block content %}
    <header class="text-center my-4">
        <h1>Data Entry Form</h1>
    </header>

    <section class="form-section">
        <form action="/submit" method="post"> <!-- Enlace para el botón Submit -->
            <div class="mb-3">
                <label for="accountHash" class="form-label">Account or Hash</label>
                <input type="text" class="form-control" id="accountHash" placeholder="Enter Account or Hash identification for user donations" required>
            </div>
            <div class="mb-3">
                <label for="entityType" class="form-label">Type of Entity for Donations</label>
                <select class="form-select" id="entityType" required>
                    <option value="" disabled selected>Select type</option>
                    <option value="Bitcoin">Bitcoin</option>
                    <option value="Ethereum">Ethereum</option>
                    <option value="PayPal">PayPal</option>
                    <option value="Bancolombia">Bancolombia</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="sensorName" class="form-label">Sensor Name</label>
                <input type="text" class="form-control" id="sensorName" placeholder="Enter sensor name" required>
            </div>
            <div class="mb-3">
                <label for="qrCode" class="form-label">Upload QR Code</label>
                <input type="file" class="form-control" id="qrCode" accept="image/*" required>
                <div class="form-text">Note: We are thinking to move to <a href="https://nostr.com/" target="_blank" rel="noopener noreferrer">nostr</a> and maybe this not work.</div>
            </div>
            <button type="submit" class="btn btn-verde-personalizado">Submit</button>
        </form>
    </section>

{% endblock %}
